{% extends 'base.html' %}
{% load static %}

{% block content %}

   <style type="text/css">
    .class{
        background: #737c83;
        padding: 15px;
        min-height: 150px;
    }
   </style>

     <div class="feedback">
        <div class="container">
            <div class="row center-align">
                <div class="col s12">
                    <h3 class="" style="color: #ada397">PREVIOUS MIXs</h3>
                   <!--  <hr class="down-title"> -->
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light" class="card-image waves-effect waves-block waves-light" style="background: url('http://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/France/Paris/paris-attractions-xlarge.jpg');background-size: cover;background-position: center center; height: 250px; ">
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #737c83; padding: 10px;"><a href="#"><i class="medium material-icons" style="font-size: 18px; padding: 5px;">location_on</i> Paris</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #677077; padding: 15px;"><a href="#">Art MIX</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left; color: #fff;">
                            <div class="city-name" style=" background: #737c83; padding: 15px;  min-height: 150px;">DEC/12<hr><p style="padding-top:10px; color: #fff;">{% lorem 15 w random %}</p>
                                    <div class="center-align" style="margin-top:20px;">
                                        <a  href="{% url "feedbackdetails" %}" class="btn blue darken-4">Read more</a>
                                    </div></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light" class="card-image waves-effect waves-block waves-light" style="background: url('https://cdn.getyourguide.com/niwziy2l9cvz/3Nl5nGC5fq2CQ0O42awIwq/0cff0ba6cc53c2e0f9c153e820fcc8d0/berlin-Brandenburg-Gate-1112x630.jpg');background-size: cover;background-position: center center; height: 250px; ">
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #737c83; padding: 10px;"><a href="#"><i class="medium material-icons" style="font-size: 18px; padding: 5px;">location_on</i> Berlin</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #677077; padding: 15px;"><a href="#">Music MIX</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left; color: #fff;">
                            <div class="city-name" style=" background: #737c83; padding: 15px;  min-height: 150px;">DEC/12<hr><p style="padding-top:10px; color: #fff;">{% lorem 15 w random %}</p>
                                    <div class="center-align" style="margin-top:20px;">
                                        <a  href="{% url "feedbackdetails" %}" class="btn blue darken-4">Read more</a>
                                    </div></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light" class="card-image waves-effect waves-block waves-light" style="background: url('http://www.riofan.com.br/wp-content/uploads/2015/11/Fotos-do-Rio-de-Janeiro.jpg');background-size: cover;background-position: center center; height: 250px; ">
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #737c83; padding: 10px;"><a href="#"><i class="medium material-icons" style="font-size: 18px; padding: 5px;">location_on</i> Rio de Janeiro</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #677077; padding: 15px;"><a href="#">Food MIX</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left; color: #fff;">
                            <div class="city-name" style=" background: #737c83; padding: 15px;  min-height: 150px;">DEC/12<hr><p style="padding-top:10px; color: #fff;">{% lorem 15 w random %}</p>
                                    <div class="center-align" style="margin-top:20px;">
                                        <a  href="{% url "feedbackdetails" %}" class="btn blue darken-4">Read more</a>
                                    </div></div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row center-align">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light" class="card-image waves-effect waves-block waves-light" style="background: url('http://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/France/Paris/paris-attractions-xlarge.jpg');background-size: cover;background-position: center center; height: 250px; ">
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #737c83; padding: 10px;"><a href="#"><i class="medium material-icons" style="font-size: 18px; padding: 5px;">location_on</i> Paris</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #677077; padding: 15px;"><a href="#">Art MIX</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left; color: #fff;">
                            <div class="city-name" style=" background: #737c83; padding: 15px;  min-height: 150px;">DEC/12<hr><p style="padding-top:10px; color: #fff;">{% lorem 15 w random %}</p>
                                    <div class="center-align" style="margin-top:20px;">
                                        <a  href="{% url "feedbackdetails" %}" class="btn blue darken-4">Read more</a>
                                    </div></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light" class="card-image waves-effect waves-block waves-light" style="background: url('https://cdn.getyourguide.com/niwziy2l9cvz/3Nl5nGC5fq2CQ0O42awIwq/0cff0ba6cc53c2e0f9c153e820fcc8d0/berlin-Brandenburg-Gate-1112x630.jpg');background-size: cover;background-position: center center; height: 250px; ">
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #737c83; padding: 10px;"><a href="#"><i class="medium material-icons" style="font-size: 18px; padding: 5px;">location_on</i> Berlin</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #677077; padding: 15px;"><a href="#">Music MIX</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left; color: #fff;">
                            <div class="city-name" style=" background: #737c83; padding: 15px;  min-height: 150px;">DEC/12<hr><p style="padding-top:10px; color: #fff;">{% lorem 15 w random %}</p>
                                    <div class="center-align" style="margin-top:20px;">
                                        <a  href="{% url "feedbackdetails" %}" class="btn blue darken-4">Read more</a>
                                    </div></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light" class="card-image waves-effect waves-block waves-light" style="background: url('http://www.riofan.com.br/wp-content/uploads/2015/11/Fotos-do-Rio-de-Janeiro.jpg');background-size: cover;background-position: center center; height: 250px; ">
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #737c83; padding: 10px;"><a href="#"><i class="medium material-icons" style="font-size: 18px; padding: 5px;">location_on</i> Rio de Janeiro</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left;">
                            <div class="city-name" style=" background: #677077; padding: 15px;"><a href="#">Food MIX</a></div>
                        </div>
                        <div class="card-content" style="padding:0; text-align: left; color: #fff;">
                            <div class="city-name" style=" background: #737c83; padding: 15px;  min-height: 150px;">DEC/12<hr><p style="padding-top:10px; color: #fff;">{% lorem 15 w random %}</p>
                                    <div class="center-align" style="margin-top:20px;">
                                        <a  href="{% url "feedbackdetails" %}" class="btn blue darken-4">Read more</a>
                                    </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}