{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Banner section -->
{#    <div class="container">#}
          <div class="banner" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('{% static "img/background-main-section.jpg" %}');background-size: cover;background-position:center top;">
                <div class="caption center-align white-text">
                  <h1><span>M</span>utual <span>I</span>nterest e<span>X</span>changes</h1>
                  <h4 style="color:#DFE5EC;">Discover <span style="font-weight:500;color:#DFE5EC;">People</span></h4>
                  <h4 style="color:#DFE5EC; margin-bottom: 5%;"><span style="font-weight:500;color:#DFE5EC;">Discover</span> you</h4>

                   <a class="btn" href="#" style="margin:40px; background-color:#6FCD84;">Make a MIX</a>
                   <a class="btn" style="margin:40px; background-color:#70D9EB;">Find a MIX</a>
                </div>
                <div class="bottom container" class="margin-bottom: 5%;">
                    <a href="https://www.instagram.com/brigidmixs/" target="_blank" ><i class="fa fa-instagram fa-2x" ></i></a>
                    <a href="https://twitter.com/brigidmixs" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="https://www.facebook.com/brigidmixs" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                </div>
          </div>
{#    </div>#}


    <!-- WhatAreMix section -->
    <div class="what" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('{% static "img/background-WhatAreMixs-section.png" %}');background-size: cover;background-position:center bottom; min-height: 500px;  padding-top: 12%;  padding-bottom: 12%;">
        <div class="container center-align white-text">
            <div class="row">
                <div class="col s12 ">
                    <h3 style="font-size: 40px;">What are MIXs?</h3>
                </div>
                <div class="col s2"></div>
                <div class="col s8">
                    <h4 style="font-weight:300">
                        MIX activities are small groups of local people and travelers who unite because of a shared interest.
                    </h4>
                    <p> 
                        Practice English with an American, share a meal with a Brazilian, learn a new yoga pose with a Japanese or make beer with a German. ​MIX themes are up to your interests and imagination!
                    </p>
                </div>
                <div class="col s2"></div>
            </div>
        </div>
    </div>

    <!-- HowItWorks section -->
    <div class="work accent-4">
        <div class="container">
            <div class="row black-text">
                <div class="col s12 m4">
                      <div class="col s12 ">
                        <h3>The MIX elements</h3>
                        <!-- <hr style="width:20%; float: left;"> -->
                    </div>
                    <div class="col s12">
                        <h5>The perfect connection for fun, safe and insightful MIXs!</h5><br>
                        <p>
                            - MIXs are never more than 8 participants, half locals and half travelers. 
                        </p>
                        <p>
                            - MIXs are only located in public spaces like parks, cultural/social centers, concerts, sports stadiums, hostels, colleges/universities, etc.
                        </p>
                        <p>
                            - MIX Moderators are always present to help with language barriers and encourage a healthy exchange.  
                        </p>

                    </div>
                </div>
                <div class="col s12 m8" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('{% static "img/mix-element-image.jpg" %}');background-size: cover;background-position:center top; height: 640px;">
                </div>
            </div>
        </div>
    </div>

   

    <!-- GetInvolved section -->
    <div class="involved  center-align"  style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{% static "img/background-GetInvolved.png" %}');background-size: cover;background-position:center top; padding-top:5%; padding-bottom: 5%;"> 
        <div class="container">
            <div class="row icons white-text">
                <div class="col s12 m12">
                    <h3>Get involved!</h3>
                </div>
                <div class="col m4 member-item" style="padding:5%; text-align: left;padding:75px; min-height:400px; /*background-color: #e06822;*/">
                    <div class="content-involved" style="min-height:280px">
                        <h5 style="text-align: center; font-weight: 400;">Participant</h5>
                        <p style="width: 260px; font-size:17px; padding:10px;">Members who reserve to participate in a MIX activity in their city, or a city they're traveling to. Participants share what they know about a particular art, skill or hobby, related to the MIX theme.</p>
                    </div>
                    <div class="button-involved">
                        <a href="" style="width:100%; background: transparent; border: 2px solid #fff; font-weight: 100; padding: 1px; height:100%;" class="btn">FIND A MIX</a>
                    </div>
                </div>
                <div class="col m4 member-item" style="padding:2%; text-align: left;padding:75px;  min-height:400px; /*background-color: #e06822;*/">
                    <div class="content-involved" style="min-height:280px">
                        <h5 style="text-align: center; font-weight: 400;">Moderator</h5>
                        <p style="width: 260px; font-size:17px; padding:10px;">Members who choose a MIX theme and location. Mods are the liaison between the local people and travelers, helping with language barriers and encouraging everyone's involvement.</p>
                    </div>
                    <div class="button-involved">
                        <a href="" style="width:100%; background: transparent; border: 2px solid #fff; font-weight: 100; padding: 1px; height:100%;" class="btn">#MODLIFE</a>
                    </div>
                </div>
                <div class="col m4 member-item" style="padding:2%; text-align: left; padding:75px;  min-height:400px; /*background-color: #e06822;*/">
                    <div class="content-involved" style="min-height:280px">
                        <h5 style="text-align: center; font-weight: 400;">Ambassador</h5>
                        <p style="width: 260px; font-size:17px; padding:10px;">Members who take an active role in their community to promote MIXs. Ambassadors establish and maintain strategic partnerships, as well as host special MIXs with Moderators.</p>
                    </div>
                    <div class="button-involved">
                        <a href="" style="width:100%; background: transparent; border: 2px solid #fff; font-weight: 100;  padding: 1px; height:100%;" class="btn">GET IN TOUCH</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Testimonial section -->
    <div class="testimonial white accent-4">
        <div class="container">
            <div class="row center-align black-text">
                <div class="col m12">
                    <h4>We think it's a cool project, but don't take our word for it... </h4>
                </div>
                <div class="col m12">
                    <div class="row">
                        <div class="col s4">
                            
                        </div>
                        <div class="col s8">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col m12" style="padding:2%;">

                    <div class="slider">
                        <ul class="slides white center-align">
                            <li>
                                <div class="row">
                                    <div class="col m4 s12"> 
                                        <img src="{% static "img/estela_orig.jpg" %}" style="border-radius: 50%; width: 200px; height: 200px; margin-top:20px;">
                                        <h5><a rel="nofollow" target="_ext" class="black-text"><b>Estela Morale Sales (Spain)</b></a></h5>
                                    </div>
                                    <div class="col m8 s12">
                                        <p>
                                            "The project is at its beginning and requires a lot of effort, as do all new projects! The team has a lot of potential, they're dedicated and putting a lot of love into this. I feel it's going to turn out wonderful! My MIX was very entertaining and engaging. I was very impressed with the generosity of the other participants. Wishing you lots of luck for your growth!"
                                        </p>
                                    </div>
                                    
                                </div>
                            </li>
                            <li>
                                <div class="row">  
                                    <div class="col m4 s12">
                                        <img src="{% static "img/hannah_orig.jpg" %}" style="border-radius: 50%; width: 200px; height: 200px; margin-top:20px;">
                                        <h5 style="font-size: 16px;"><a rel="nofollow" target="_ext" class="black-text"><b>Hannah Truempi (USA)</b></a></h5>
                                    </div>
                                    <div class="col m8 s12">
                                        <p>
                                            "My friend and I got the chance to participate in a MIX with locals, it was the best night of our trip, and I feel so fortunate to have made such great friends through the MIX project. I can't wait to see how far this wonderful idea goes!"
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col m4 s12"> 
                                        <img src="{% static "img/yves_orig.jpg" %}" style="border-radius: 50%; width: 200px; height: 200px; margin-top:20px;">
                                        <h5 style="font-size: 16px;"><a rel="nofollow" target="_ext" class="black-text"><b>Yves Elmir (Canada)</b></a></h5>
                                    </div>
                                    <div class="col m8 s12">
                                        <p>
                                            "I had a great time at MIXs! The way it brings the local community and travelers together is   truly original and inspiring. I participated in a language MIX with some locals who wanted to practice their English. We had some nice drinks and food at a local bar, it was a great experience! I look forward to participating again soon!"
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col m4 s12">  
                                        <img src="{% static "img/miguel_orig.jpg" %}" style="border-radius: 50%; width: 200px; height: 200px; margin-top:20px;">
                                        <h5 style="font-size: 16px;"><a rel="nofollow" target="_ext" class="black-text"><b>Miguel de Hoyos (México)</b></a></h5>
                                    </div>
                                    <div class="col m8 s12"><p>"I was lucky to learn about this project. The activity exchange approach is the best way to get locals and tourists to learn from one another, in a unique friendly and comfortable environment. Thanks for making my visit, truly amazing!"</p>
                                    </div>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Invitation section -->
    <section class="invitation center align">
        <div class="row">
            <div class="col m3"></div>
            <div class="col m6">
                <div class="card">
                    <h4>Invitation only</h4>
                    <p>
                        We have has so much positive feedback interest in MIXs, it's great!
                        We're being very careful about how quickly we grow, because we don't
                        want to compromise our customer service. Leave your email, add us to
                        your "NOT SPAM" folder, and we'll keep you updated!
                        (No more than two emails a month). 
                    </p>
                    <input placeholder="Required field." />
                    <a href="#" class="btn">SEND</a>
                </div>
            </div>
            <div class="col m3"></div>
        </div>
    </section>


{% endblock %}