{% extends 'base_member.html' %}
{% load static %}

{% block content %}
<div class="blue darken-4" style="height: 150px;"></div>
<div class="container" style="min-height: 80vh; margin-top: -100px;">
    <div class="row">
        <div class="col s12 ">
            <div class="card white z-depth-3">
                <div class="card-content">
                    <span class="card-title">{{ form_action }} Choose a image for your event</span>
                    <form method="post">
                        <div class="row">
                            {% for image in images %}
                                <div class="col s12 m4">
                                    <a href="#" class="choose-image crop-choose-img" data-image="{{ image.idx }}">
                                        <img class="" src="{{ image.url }}"/>
                                    </a>
                                </div>


                            {% empty %}

                            {% endfor %}
                        </div>
                    </form>
                   <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $(".choose-image").click(function () {
        window.location = "{{ request.path }}?image_idx="+$(this).data("image");
    });
});
</script>
{% endblock %}