{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="min-height: 80vh">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">Create Event</span>
                    <form method="post">
                        {% csrf_token %}
                        <h4>What?</h4>
                        <span class="red-text">{{ form.non_field_errors }}</span>
                        <div class="input-field ">
                          {{ form.name.errors }}
                          {{ form.name }}
                            <label for="{{ form.name.id_for_label }}">Event name </label>
                        </div>

                        <div class="input-field input-categories">
                          {{ form.category.errors }}
                          {{ form.category }}
                            <label for="{{ form.category.id_for_label }}">Category </label>
                        </div>


                        <div class="input-field ">
                          {{ form.description.errors }}
                          {{ form.description }}
                          <label for="{{ form.description.id_for_label }}">Event Description </label>
                        </div>

                        <div class="input-field ">
                          {{ form.expected_costs.errors }}
                          {{ form.expected_costs }}
                            <label for="{{ form.expected_costs.id_for_label }}">Expected costs </label>
                        </div>


                        <h4>When?</h4>
                        <div class="input-field ">
                          {{ form.date.errors }}
                            <input type="text" class="datepicker" name="date">
                            <label for="{{ form.date.id_for_label }}">Date</label>
                        </div>

                        <div class="input-field ">
                          {{ form.time.errors }}
                          <input type="text" class="timepicker" name="time">
                            <label for="{{ form.time.id_for_label }}">Time</label>
                        </div>

                        <div class="input-field ">
                          {{ form.duration.errors }}
                          {{ form.duration }}
                            <label for="{{ form.duration.id_for_label }}">Event Duration in hours </label>
                        </div>


                        <h4>Where?</h4>

                        <div class="input-field ">
                            <input id="city_google_maps" type="text" required/>
                            <input id="city_place_id" name="city_place_id" type="hidden"/>
                            <label for="city_google_maps">City </label>
                        </div>


                        <div class="input-field ">
                          {{ form.location.errors }}
                            <input id="location_google_maps" type="text" size="50" required/>
                            <input id="location_place_id" name="location_place_id" type="hidden"/>
                            <label for="location_place_id">Location </label>
                        </div>

                        <button type="submit" class="waves-effect waves-light btn orange darken-4">
                            Submit <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function init() {
        var city_input = document.getElementById('city_google_maps');
        var location_input = document.getElementById('location_google_maps');
        var autocomplete_city = new google.maps.places.Autocomplete(city_input, {types: ['(cities)']});
        var autocomplete_location = new google.maps.places.Autocomplete(location_input);

        autocomplete_city.addListener('place_changed', function() {
            var place = autocomplete_city.getPlace();
            if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
                document.getElementById("city_place_id").setAttribute('value', "");
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }
            console.log(place);
            document.getElementById("city_place_id").setAttribute('value', place.place_id);

            var circle = new google.maps.Circle({
                center: place.geometry.location,
                radius: 10000
             });
            autocomplete_location.setBounds(circle.getBounds());
        });

        autocomplete_location.addListener('place_changed', function() {
            var place = autocomplete_location.getPlace();
            if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
                document.getElementById("location_place_id").setAttribute('value', "");
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }
            console.log(place);
            document.getElementById("location_place_id").setAttribute('value', place.place_id);
        });
    }

    google.maps.event.addDomListener(window, 'load', init);

</script>

{% endblock %}