{% extends 'base_member.html' %}
{% load static %}

{% block content %}

<div class="blue darken-4" style="height: 150px;"></div>
<div class="container" style="min-height: 80vh; margin-top: -100px;">
    <div class="row">
        <div class="col s12 ">
            <div class="card white z-depth-3">
                <div class="card-content">
                    <span class="card-title">Event Details - {{ event_details.name }}</span>

                    <div class="input-field ">
                        <strong>Event: </strong>{{ event_details.name }}
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6">
                            <strong>Catergory: </strong>{{ event_details.category }}
                        </div>

                        <div class="input-field col s12 m6">
                          <strong>Expected Costs: </strong>$ {{ event_details.expected_costs }}
                        </div>
                    </div>
                    <div class="input-field ">
                      <strong>Description: </strong>{{ event_details.description }}                        
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4">
                             <strong>Date: </strong>{{ event_details.date }}                        
                        </div>

                        <div class="input-field col s12 m4">
                          <strong>Time: </strong>{{ event_details.time }}                        
                        </div>

                        <div class="input-field col s12 m4">
                          <strong>Duration: </strong>{{ event_details.duration }} hours                       
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 ">
                            <strong>City: </strong>
                             {{ event_details.city }}
                        </div>

                        <div class="input-field col s12 m6">
                            <strong>Location: </strong>
                             {{ event_details.location }}                         
                        </div>
                    </div>

                    <div class="row">
                        <img src="{{ event_details.image_url }}">                            
                    </div>
                    <div class="row">
                        <div id="map" style="height: 200px"></div>
                    </div>
                </div>
                <div class="card-action">
                    <a href="{% url "edit_event" event_details.id %}" class="btn waves-effect waves-light blue ">Edit</a>
                    <a href="{% url "edit_event_image" event_details.id %}" class="btn waves-effect waves-light blue ">Change image</a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block map %}
    var myLatLong = {lat: {{ event_details.location.latitude }}, lng: {{ event_details.location.longitude }}};
    
    var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLong,
          zoom: 13
    });

    var marker = new google.maps.Marker({
        position: myLatLong,
        map: map,
        title: '{{ event_details.location }}'
    });
{% endblock %}