{% extends 'base_member.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

<div class="blue darken-4" style="height: 150px;"></div>
<div class="container" style="min-height: 80vh; margin-top: -100px;">
    <div class="row">
        <div class="col s12 ">
            <div class="card white z-depth-3">
                <div class="event">

                    <!-- <div class="input-field ">
                        <strong>Event: </strong>{{ event_details.name }}
                    </div> -->

                    <div class="row">
                        <div class="input-field col s12 m12" style="margin-top: 0;">
                            <div class="card-image">
                                <picture class="crop-event-img">
                                    {% thumbnail event_details.image "640x360" crop="center" as im %}
                                        <div style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{ im.url }}'); height:400px; background-repeat: no-repeat; padding: 0;background-size: cover;background-position: center center;">
                                    {% endthumbnail %}
                                </picture>
                                <span class="card-title" >Event Details - {{ event_details.name }}</span>
                            </div>    
                        </div>
                    </div>
                    <div class=" card-content">
                        <div class="row">

                            <div class="input-field col s12 m4">
                                <i class="material-icons left">date_range</i>
                                <strong>Date: </strong>{{ event_details.date }}                        
                            </div>
                            <div class="input-field col s12 m4">
                                <i class="material-icons left">apps</i>
                                <strong>Category: </strong>{{ event_details.category }}
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons left">attach_money</i>
                              <strong>Expected Costs: </strong>$ {{ event_details.expected_costs }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <i class="material-icons left">watch_later</i>
                                <strong>Time: </strong>{{ event_details.time }}                        
                            </div>

                            <div class="input-field col s12 m4">
                                    <i class="material-icons left">timelapse</i>
                              <strong>Duration: </strong>{{ event_details.duration }} hours                       
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons left">description</i>
                                <strong>Description: </strong>{{ event_details.description }}                        
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m6 ">
                                <i class="material-icons left">map</i>
                                <strong>City: </strong>
                                 {{ event_details.city }}
                            </div>

                            <div class="input-field col s12 m6">
                                <i class="material-icons left">place</i>
                                <strong>Location: </strong>
                                 {{ event_details.location }}                         
                            </div>
                        </div>

                        <div class="row">
                            <img src="{{ event_details.image_url }}">                            
                        </div>
                        <div class="row">
                            <div id="map" style="height: 200px"></div>
                        </div>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="{% url 'edit_event' event_details.id %}" class="btn waves-effect waves-light blue ">Edit</a>
                    <a href="{% url 'edit_event_image' event_details.id %}" class="btn waves-effect waves-light blue ">Change image</a>
                    </a>
                </div>
            </div>
        </div>
            <button class="btn btn-primary blue darken-4" onclick="history.back()">Back</button>
    </div>
</div>

{% endblock %}

{% block map %}
    function init_google_maps() {
        var myLatLong = {lat: {{ event_details.location_lat }}, lng: {{ event_details.location_lng }}};

        var map = new google.maps.Map(document.getElementById('map'), {
              center: myLatLong,
              zoom: 13
        });

        var marker = new google.maps.Marker({
            position: myLatLong,
            map: map,
            title: '{{ event_details.location }}'
        });
    }
{% endblock %}