{% extends 'base_member.html' %}
{% load static %}

{% block content %}
<div class="blue darken-4" style="height: 150px;"></div>
<div class="container" style="min-height: 80vh; margin-top: -100px;">
    <div class="row">
        <div class="col s12 ">
            <div class="card white z-depth-3">
                <div class="card-content">
                    <span class="card-title">{{ form_action }} Event</span>
                    <form method="post">
                        {% csrf_token %}

                        <span class="red-text">{{ form.non_field_errors }}</span>
                        <div class="input-field ">
                            <i class="material-icons prefix">edit</i>
                            {{ form.name }}
                            <label for="{{ form.name.id_for_label }}">Event name </label>
                          <span class="red-text">{{ form.name.errors }}</span>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">apps</i>
                              {{ form.category }}
                                <label for="{{ form.category.id_for_label }}">Category </label>
                              <span class="red-text">{{ form.category.errors }}</span>
                            </div>

                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">attach_money</i>
                              {{ form.expected_costs }}
                                <label for="{{ form.expected_costs.id_for_label }}">Expected costs </label>
                              <span class="red-text">{{ form.expected_costs.errors }}</span>
                            </div>
                        </div>

                        <div class="input-field ">
                            <i class="material-icons prefix">description</i>
                          {{ form.description }}
                          <label for="{{ form.description.id_for_label }}">Event Description </label>
                          <span class="red-text">{{ form.description.errors }}</span>
                        </div>



                        <div class="row">
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">date_range</i>
                                 {{ form.date }}
                                <label for="{{ form.date.id_for_label }}">Date</label>
                              <span class="red-text">{{ form.date.errors }}</span>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">watch_later</i>
                              {{ form.time }}
                                <label for="{{ form.time.id_for_label }}">Time</label>
                              <span class="red-text">{{ form.time.errors }}</span>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">timelapse</i>
                              {{ form.duration }}
                                <label for="{{ form.duration.id_for_label }}">Event Duration in hours </label>
                              <span class="red-text">{{ form.duration.errors }}</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12 m6 ">
                                <i class="material-icons prefix">map</i>
                                 {{ form.autocomplete_city }}
                                 {{ form.city_place_id }}
                                <label for="city_google_maps">City </label>
                                <span class="red-text">{{ form.city.errors }}</span>
                            </div>


                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">place</i>
                                 {{ form.autocomplete_location }}
                                 {{ form.location_place_id }}
                                <label for="location_place_id">Location or address</label>
                                <span class="red-text">{{ form.location.errors }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <p class="center-align" style="font-weight: bold; margin-bottom:10px">Choose on the map the exact coordinates to meet</p>
                            <div id="map" style="height: 250px"></div>
                            {{ form.location_lat }}
                            {{ form.location_lng }}
                        </div>

                        <!--{{ form.errors }}-->

                        <button type="submit" class="waves-effect waves-light btn blue darken-4">
                            Submit <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

    function init_autocomplete_maps() {
        var initial_coordinates = {lat: {{ form.location_lat.value|default_if_none:"-33.8688" }},
                                   lng: {{ form.location_lng.value|default_if_none:"151.2195" }}};

        var map = new google.maps.Map(document.getElementById('map'), {
            center: initial_coordinates,
            zoom: 13
        });

        var marker = new google.maps.Marker({
          position: initial_coordinates,
          map: map,
          title: 'Hello World!'
        });

        var city_input = document.getElementById('autocomplete_city');
        var location_input = document.getElementById('autocomplete_location');
        var autocomplete_city = new google.maps.places.Autocomplete(city_input, {types: ['(cities)']});
        var autocomplete_location = new google.maps.places.Autocomplete(location_input, {strictBounds: true});


        autocomplete_city.addListener('place_changed', function (e) {
            var place = autocomplete_city.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                $("#city_place_id").val("")
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            $("#city_place_id").val(place.place_id)
            $("#location_place_id").val("")
            $("#autocomplete_location").val("")

            marker.setPosition(place.geometry.location);
            map.setCenter(marker.getPosition());
            map.setZoom(13)

            autocomplete_location.setBounds(place.geometry.viewport);

        });

        autocomplete_location.addListener('place_changed', function (e) {
            var place = autocomplete_location.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                document.getElementById("location_place_id").setAttribute('value', "");
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            marker.setPosition(place.geometry.location);
            map.setCenter(marker.getPosition());
            map.setZoom(16)

            $("#location_lat").val(place.geometry.location.lat());
            $("#location_lng").val(place.geometry.location.lng());

            $("#location_place_id").val(place.place_id)
        });

        map.addListener('click', function(e) {
          marker.setPosition(e.latLng)
          $("#location_lat").val(e.latLng.lat());
          $("#location_lng").val(e.latLng.lng());
        });
    }

    google.maps.event.addDomListener(window, 'load', init_autocomplete_maps);

    $(document).ready(function(){

        // Form validation...
        $('form').submit(function (e) {

            city_place_id = $("#city_place_id").val();
            location_place_id = $("#location_place_id").val();

            if (!location_place_id || !city_place_id){
                alert("Please choose correctly a city and a location")
                e.preventDefault();
                return;
            }

        }).bind("keypress", function (e) {
            if (e.keyCode == 13) {
                //$("#btnSearch").attr('value');
                //add more buttons here
                return false;
            }
        });

    });

</script>

{% endblock %}