{% extends 'base_member.html' %}
{% load l10n %}
{% load static %}

{% block content %}
<div class="blue darken-4" style="height: 150px;"></div>
<div class="container" style="min-height: 80vh; margin-top: -100px;">
    <div class="row">
        <div class="col s12 ">
            <div class="card white z-depth-3">
                <div class="card-content">
                    <span class="card-title">{{ form_action }} Event</span>
                    <form method="post">
                        {% csrf_token %}

                        <span class="red-text">{{ form.non_field_errors }}</span>

                        <div class="row">
                            <div class="input-field col s12 l8">
                                <i class="material-icons prefix">apps</i>
                              {{ form.template }}
                                <label for="{{ form.template.id_for_label }}">Event Type </label>
                              <span class="red-text">{{ form.template.errors }}</span>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">attach_money</i>
                              {{ form.expected_costs }}
                                <label for="{{ form.expected_costs.id_for_label }}">Expected costs </label>
                              <span class="red-text">{{ form.expected_costs.errors }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">language</i>
                              {{ form.native_language }}
                                <label for="{{ form.native_language.id_for_label }}">Native Language </label>
                              <span class="red-text">{{ form.native_language.errors }}</span>
                            </div>

                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">language</i>
                              {{ form.foreign_language }}
                                <label for="{{ form.foreign_language.id_for_label }}">Foreign Language </label>
                              <span class="red-text">{{ form.foreign_language.errors }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">date_range</i>
                                 {{ form.date }}
                                <label for="{{ form.date.id_for_label }}">Date</label>
                              <span class="red-text">{{ form.date.errors }}</span>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">watch_later</i>
                              {{ form.time }}
                                <label for="{{ form.time.id_for_label }}">Time</label>
                              <span class="red-text">{{ form.time.errors }}</span>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">timelapse</i>
                              {{ form.duration }}
                                <label for="{{ form.duration.id_for_label }}">Event Duration in hours </label>
                              <span class="red-text">{{ form.duration.errors }}</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12 m6 ">
                                <i class="material-icons prefix">map</i>
                                 {{ form.autocomplete_city }}
                                 {{ form.city_place_id }}
                                <label for="city_google_maps">City </label>
                                <span class="red-text">{{ form.city.errors }}</span>
                            </div>


                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">place</i>
                                 {{ form.autocomplete_location }}
                                 {{ form.location_place_id }}
                                <label for="location_place_id">Location or address</label>
                                <span class="red-text">{{ form.location.errors }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <p class="center-align" style="font-weight: bold; margin-bottom:10px">Choose on the map the exact coordinates to meet</p>
                            <div id="map" style="height: 250px"></div>
                            {{ form.location_lat|safe }}
                            {{ form.location_lng|safe }}
                        </div>

                        <!--{{ form.errors }}-->

                        <button type="submit" class="waves-effect waves-light btn blue darken-4">
                            Submit <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function init_google_maps() {
        {% localize off %}
            var lat = {% if form.location_lat.value %} {{ form.location_lat.value|safe }} {% else %} 52.50697 {% endif %} ;
            var lng = {% if form.location_lng.value %} {{ form.location_lng.value|safe }} {% else %} 13.2843063 {% endif %} ;
            var zoom = {% if form.location_lat.value %} 16 {% else %} 2 {% endif %};
            var cordinates = {lat: lat, lng: lng}
        {% endlocalize %}

        var map = mix_create_map("map", lat, lng, zoom)
        var marker = mix_create_map_marker(map, lat, lng, "Location")

        var autocomplete_city = create_autocomplete_input(document.getElementById("autocomplete_city"), {types: ['(cities)']});
        var autocomplete_location = create_autocomplete_input(document.getElementById("autocomplete_location"), {strictBounds: true});

        mix_set_autocomplete_place_changed_event(
            autocomplete_city, // autocomplete
            "city_place_id", // place_id_input
            map, // map
            null, // marker
            13, // zoom
            autocomplete_location, // cascading_autocomplete_object
            "autocomplete_location", // cascading_autocomplete_id
            "location_place_id", // cascading_place_id
            null, // lat_input_id,
            null, // lng_input_id,
            null // cb
        );

        mix_set_autocomplete_place_changed_event(
            autocomplete_location, // autocomplete
            "location_place_id", // place_id_input
            map, // map
            marker, // marker
            16, // zoom
            null, // cascading_autocomplete_object
            null, // cascading_autocomplete_id
            null, // cascading_place_id
            "location_lat", // lat_input_id,
            "location_lng", // lng_input_id,
            null // cb
        );

        map.addListener('click', function(e) {
          marker.setPosition(e.latLng)
          $("#location_lat").val(e.latLng.lat());
          $("#location_lng").val(e.latLng.lng());
        });
    }

    $(document).ready(function(){

        // Form validation...
        $('form').submit(function (e) {

            city_place_id = $("#city_place_id").val();
            location_place_id = $("#location_place_id").val();

            if (!location_place_id || !city_place_id){
                alert("Please choose correctly a city and a location")
                e.preventDefault();
                return;
            }

        }).bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });

    });

</script>

{% endblock %}