{% extends 'base_member.html' %}
{% load static %}

{% block content %}
<div class="blue darken-4" style="height: 150px;"></div>
<div class="container" style="min-height: 80vh; margin-top: -100px;">
    {% for template in templates %}
        {% cycle '<div class="row">' '' %}
        <div class="col s12 l6 ">
            <div class="card white z-depth-3 ">
                <div class="card-content">
                    <a href="{% url "edit_event_template" template.id %}"  class="card-title" style="font-weight: 400">
                        {{ template.name }}
                    </a>
                    <p><b>{{ template.category }}</b></p>
                    <p>{{ template.description }}</p>

                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}</div>{% endif %}
    {% empty %}
        <div class="card white z-depth-3 ">
            <div class="card-content">
                <p>You haven't created any template yet.</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}