{% extends 'base_member.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="blue darken-4" style="height: 150px;"></div>
<div class="container" style="min-height: 80vh; margin-top: -100px;">
    <div class="col s12 l6 ">
        <div class="card white z-depth-3 ">
            <h3>Find a MIX!</h3>
            
            <form method="GET">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="waves-effect waves-light btn blue darken-4">
                    Submit <i class="material-icons right">send</i>
                </button>
            </form>            
        </div>
    </div>

    {% for event in events %}
        {% cycle '<div class="row">' '' %}
        <div class="col s12 l6 ">
            <div class="card white z-depth-3 ">
                <div class="card-image">
                  <picture class="crop-event-img">
                      {% thumbnail event.image "640x360" crop="center" as im %}
                        <img src="{{ im.url }}" >
                      {% endthumbnail %}
                  </picture>
                  <span class="card-title">{{ event.name }}</span>
                </div>
                <div class="card-content">
                    <ul>
                            <li>
                                <p><b>City: </b>{{ event.city.description }}</p>
                                <p><b>Location:</b> {{ event.location.description }}</p>
                                <p><b>Category: </b>{{ event.category.description }}</p>
                            </li>
                    </ul>
                </div>
                 <div class="card-action">
                  <a href="{% url "event_details" event.id %}" class="btn waves-effect waves-light blue "> <i class="material-icons">remove_red_eye</i></a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}</div>{% endif %}
    {% empty %}
        <div class="card white z-depth-3 ">
            <div class="card-content">
                <p>Sorry! We don't have any event at this moment.</p>
                <p>Why don't you start right now?</p>
                <a href="{% url 'create_event' %}" class="btn">Make a MIX</a>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}