boto3==1.4.7
botocore==1.7.45
certifi==2017.7.27.1
chardet==3.0.4
coverage==4.4.1
coveralls==1.2.0
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.10.6
django-storages==1.6.5
docopt==0.6.2
docutils==0.14
gunicorn==19.6.0
idna==2.6
jmespath==0.9.3
mock==2.0.0
oauthlib==2.0.4
olefile==0.44
pbr==3.1.1
Pillow==4.3.0
psycopg2==2.7
PyJWT==1.5.3
python-dateutil==2.6.1
python-decouple==3.0
python3-openid==3.1.0
requests==2.18.4
requests-oauthlib==0.8.0
s3transfer==0.1.11
six==1.11.0
social-auth-app-django==1.1.0
social-auth-core==1.4.0
sorl-thumbnail==12.3
urllib3==1.26.5
whitenoise==3.3.0
django-modeltranslation==0.12.1