{% include "layout/header.html" %}

    <div class="container" style="min-height: 80vh">
        <div class="row">
            <div class="col s12 m4 ">
            <ul class="collection">
                <li class="collection-item {% if request.path == "/user/profile/" %} usermenu-active {% endif %}"><a href="{% url 'edit_profile' %}">User profile</a></li>
                <li class="collection-item {% if request.path == "/user/settings/password/" %} usermenu-active {% endif %}"><a href="{% url 'password' %}">Change password</a></li>
                <li class="collection-item {% if request.path == "/user/send_invitation/" %} usermenu-active {% endif %}"><a href="{% url 'send_invitation' %}">Send invitation</a></li>
                <li class="collection-item {% if request.path == "/user/settings/" %} usermenu-active {% endif %}"><a href="{% url 'settings' %}">Connect to facebook</a></li>
            </ul>
            </div>
            <div class="col s12 m8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% include "layout/footer.html" %}