{% extends 'base_member.html' %}
{% load static %}

{% block content %}
<div class="blue darken-4" style="height: 150px;"></div>
<div class="container" style="min-height: 80vh; margin-top: -100px;">
    <div class="row">
        <div class="col s12 ">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">Edit your profile</span>
                    <form method="post">
                        {% csrf_token %}
                        <span class="red-text">{{ form.non_field_errors }}</span>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="{{ form.first_name.id_for_label }}">First name</label>
                                {{ form.first_name }}
                                <span class="red-text">{{ form.first_name.errors }}</span>
                            </div>
                            <div class="input-field col s6">
                                <label for="{{ form.last_name.id_for_label }}">Last name</label>
                                {{ form.last_name }}
                                <span class="red-text">{{ form.last_name.errors }}</span>
                            </div>
                        </div>
                       <div class="input-field ">
                            <select multiple name="categories">
                              <option value="" disabled selected>Choose your interests</option>
                                {% for c in categories %}
                                    <option {{ c.selected|yesno:"selected,'',''" }} value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Tell us what you are interested in</label>
                        </div>
                        <div class="input-field ">
                            <select multiple name="languages">
                              <option value="" disabled selected>Choose your languages</option>
                                {% for l in languages %}
                                    <option {{ l.selected|yesno:"selected,'',''" }} value="{{ l.id }}">{{ l.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Tell us what languages you speak</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="{{ form.email.id_for_label }}">Email</label>
                                <input disabled="true" type="text" value="{{ user.email }}"/>
                            </div>
                            <div class="input-field col s6">
                                <label for="{{ form.username.id_for_label }}">Username</label>
                                <input disabled="true" type="text" value="{{ user.username }}"/>
                            </div>
                        </div>

                        <span class="card-title">More info</span>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="{{ profile_form.autocomplete_birth_city.id_for_label }}">Birth city</label>
                                {{ profile_form.autocomplete_birth_city }}
                                {{ profile_form.birth_city_place_id }}
                                <span class="red-text">{{ profile_form.birth_city.errors }}</span>
                            </div>
                            <div class="input-field col s6">
                                <label for="{{ profile_form.current_city.id_for_label }}">Current city</label>
                                {{ profile_form.autocomplete_current_city }}
                                {{ profile_form.current_city_place_id }}
                                <span class="red-text">{{ profile_form.current_city.errors }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <label for="{{ profile_form.birth_date.id_for_label }}">Birth Date</label>
                                {{ profile_form.birth_date }}
                                <span class="red-text">{{ profile_form.birth_date.errors }}</span>
                            </div>
                        </div>

                        <button type="submit" class="waves-effect waves-light btn  blue darken-4">
                            Save profile <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function init_google_maps() {
        function create_autocomplete_input(input, options) {
            // store the original event binding function
            var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;

            function addEventListenerWrapper(type, listener) {
                // Simulate a 'down arrow' keypress on hitting 'return' when no pac suggestion is selected,
                // and then trigger the original listener.
                if (type == "keydown") {
                    var orig_listener = listener;
                    listener = function(event) {
                        var suggestion_selected = $(".pac-item-selected").length > 0;
                        if ((event.which == 13 || event.which == 9) && !suggestion_selected) {
                            var simulated_downarrow = $.Event("keydown", {
                                keyCode: 40,
                                which: 40
                            });
                            orig_listener.apply(input, [simulated_downarrow]);
                        }

                        orig_listener.apply(input, [event]);
                    };
                }

                _addEventListener.apply(input, [type, listener]);
            }

            input.addEventListener = addEventListenerWrapper;
            input.attachEvent = addEventListenerWrapper;

            return new google.maps.places.Autocomplete(input, options);
        }

        var autocomplete_birth_city = create_autocomplete_input(document.getElementById('autocomplete_birth_city'),  {types: ['(cities)']});
        var autocomplete_current_city = create_autocomplete_input(document.getElementById('autocomplete_current_city'),  {types: ['(cities)']});

        autocomplete_birth_city.addListener('place_changed', function (e) {
            var place = autocomplete_birth_city.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                $("#birth_city_place_id").val("")
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            $("#birth_city_place_id").val(place.place_id)
        });

        autocomplete_current_city.addListener('place_changed', function (e) {
            var place = autocomplete_current_city.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                $("#current_city_place_id").val("")
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            $("#current_city_place_id").val(place.place_id)
        });
    }

    $(document).ready(function(){

        // Form validation...
        $('form').submit(function (e) {

            birth_city_place_id = $("#birth_city_place_id").val();
            current_city_place_id = $("#current_city_place_id").val();

            if (!birth_city_place_id || !current_city_place_id){
                alert("Please choose correctly birth and current city")
                e.preventDefault();
                return;
            }

        }).bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });

    });

</script>

{% endblock %}