{% extends 'user_profile/base_user_profile.html' %}

{% block content %}
<div class="card white">
    <div class="card-content">
        <span class="card-title">Verify your profile using facebook</span>
        {% if facebook_login %}
            <div class="card-panel blue darken-4 white-text">You are connected to facebook as
            <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/"
                               target="_blank">{{ facebook_login.extra_data.id }}</a>

            </div>
            {% if can_disconnect %}
                <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-flat red-text white ">Disconnect from Facebook</button>
                </form>
            {% else %}
                <button type="button" disabled>Disconnect from Facebook</button>
                <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for
                    your account before disconnecting from Facebook.</p>
            {% endif %}
        {% else %}
            <a href="{% url 'social:begin' 'facebook' %}" class="btn blue darken-4">Connect to Facebook</a>
        {% endif %}
    </div>
</div>
{% endblock %}