/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the user_profile Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.brand-logo{
    font-weight: 300;
}

li.usermenu-active a{font-weight:600;}


/* Menu section */
.brand-logo img{
    width: 200px;
}
nav{
    height: 70px;
}
nav ul a{
    color: #000;
}
nav .button-collapse i {
    color: #000;
}

*{
	font-family:Roboto,sans-serif;
}

.row{
	margin-bottom: 0;
    margin-right: 0;
    margin-left: 0; 
}
.container{
    width: 100%;
}
.container .row {
    margin: 0;
}
@media (max-width: 600px){
    .container{
        width: 85%;
    }
}

.parallax-container {
    position: relative;
    overflow: hidden;
    z-index: -10;
    height: 400px;
}


/* Banner section */
.banner{
    width: 100%;
    min-height:70vh;
        margin-top: 1%;
   /* height: 500px;*/
}
.banner .caption{
    opacity:1; 
    padding: 12%;
}

/*.banner span{
    border: 1px solid #fff; 
    padding: 10px;
}*/

/* Testimonial */
.banner-right .caption{
    font-size: 60px; 
    float: left; 
    padding-top: 20%; 
    padding-left:10px;
}

.banner-right span{
    border: 1px solid #fff; 
    padding: 10px;
}

/*.banner img{
    width: 100%;
}*/
.slider .indicators .indicator-item.active{
    background: #0404FF;
}
.slider .indicators {
    /*display: none;*/
}

/* Events section */
.events{
    /*padding: 30px;*/
    background: #0D47A1;
    background: #54aee8;
    padding-top: 4%;
    padding-bottom: 4%;
    min-height:50vh;
}
.events h3{
    font-size:50px;
}
.events hr.down-title{
    width:20%; 
    float: left; 
    margin-bottom: 2%;
}
.events .card p.city-name{
    background-color:#1976D2; 
    padding:2px; 
    color: #fff;
    margin: 1px;
}

@media (min-width: 1400px){
    .banner .caption{
        opacity:1; 
        padding: 10%;
    }

    .banner-right .caption{
        font-size: 60px; 
        float: left; 
        padding-top: 18%; 
        padding-left:10px;
    }
}


/* Info section */
.info{
    color: #000;
    /*background-color: #292E50;*/
    background-color: #fff;
    font-size: 30px;
    margin-top: 3%;
}

.info button{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #2E3357;
}
.info h4{
    padding-top: 6%; 
    padding-bottom: 6%;
}
.info p{
    font-size: 25px; 
    margin-top: 0px; 
    margin-bottom: 0;
    color: #0D47A1;
}

/* Image section */
.image-section img{
    width: 100%;
}

.learn p{
    font-size:32px; 
    padding: 20px; 
    color: #0D47A1;
}

.learn button{
    color: #fff; 
    margin-bottom: 20px;
}

.about{
    padding-top: 8%;
    padding-bottom: 8%;
}
.about h3{
    font-size:60px;
    color: gray;
}
.about hr{
    width:20%; 
    float: left; 
    margin-bottom: 2%;
}
.about img{
    opacity: 0.3; 
    width: 100%;
}
.about p{
    font-size: 19px; 
    color: #000; 
    text-align: justify;
}
.about button{
    color: #fff;
}
.about-left{
    top: 0;
    bottom: 0;
    padding: 15px;
}
@media (max-width: 900px){
    .about h3{
        font-size:40px;
        color: gray;
    }
}

/* Icons section */
.icons {
    padding: 30px;
}

/* Partner section */
.partner{
    padding-bottom: 50px;
    padding-top: 50px;
}
.partner h4{
    margin-top:10px;
}
.partner p{
    font-size: 18px;
    color: #000; 
    text-align: justify; 
    padding:20px; 
    padding-bottom: 5px;
    padding-top: 5px;"
}
.partner .paragraph{
    font-size:18px; 
    text-align: left; 
    padding: 20px; 
    padding-top:0;
}
.partner button{
    color: #fff;
}
/* Card details */
.card a{
    /*color: #1976D2;*/
    color: #fff;
}
.card p{

}
.card-title{
	color: #000;
}
.card-title a {
    color: #fff;
    font-size: 30px;
    width: 100%;
    background-color: #000;
    padding: 5px;
}
.card .card-content p{
	color: #000;
}
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 260px;
    background-image: cover;
}
.category a {
    color: #fff;
    font-size: 20px;
    width: 100%;
    background-color: #2962FF;
    padding: 5px;
    right: 0;
}



/* Footer */

footer a{
    color: #fff;
}

footer i{
    color: #fff;
}

i.fa{
    margin: 10px;
}


#sidenav-overlay {
 z-index: 996;
}


/* New index */
.menu{
    margin: 5px;
}

.menu>ul>li>a{
    text-transform: uppercase;
}

.navbar-fixed nav {
    position: fixed;
    padding: 10px;
    height: 80px;
}

nav .button-collapse{
    margin-top: 10px;
}

.bottom{
    padding-left: 50px;
}

.bottom i.fa{
    color:#fff;
    padding: 2%;
    padding-right: 1%;
}

.member-item{
    color: #000;
    padding:75px;
}

.work p{
    /*margin-bottom: 10px;*/
    font-size: 18px;
}

@media (min-width: 1400px){
    .banner .caption{
        opacity:1; 
        padding-top: 13%;
    }
}

@media (max-width: 900px){
    .member-item{
        padding:20px;
    }
}

.slider .indicators .indicator-item.active{
    color: #6FCD84;
}



/*#D4F1DB*/