{% extends 'base.html' %}
{% load static %}

{% block content %}

 <main>
    <center>
      <div class="banner"  style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('{% static "img/background-main-section.png" %}');background-size: cover;background-position:center top; padding-top: 10%; padding-bottom: 10%;">
        <div class="z-depth-1 white lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
                <span class="card-title" style="color:#77d9ea; font-size:16px; margin-bottom: 5%; font-weight: 400;">Sign in to your account</span>
              </div>
                <div class="input-field" style="max-width: 250px;">
                    {% csrf_token %}
                    <span class="red-text">{{ form.non_field_errors }}</span>
                    {{ form.username.errors }}
                </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                <label for="{{ form.username.id_for_label }}">Username or e-mail</label>
                {{ form.username }}
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
              </div>
                <label style='float: right;'>
                    <a style="color: #6ECC83;" href='{% url 'password_reset' %}'><b>Forgot Password?</b></a>
                </label>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green'>Log in</button>
              </div>
                <div style="margin-top: 10%; margin-bottom: 10%;">
                    <p style="text-align:center;">Don't have an account?</p>
                    <a href="{% url 'waiting_list' %}" style="color: #6ECC83;">Create account</a>
                </div>
            </center>
          </form>
        </div>
      </div>
    </center>
  </main>

{% endblock %}