{% extends 'base.html' %}
{% load static %}

{% block content %}

 <main>
    <center>
      <div class="banner"  style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('{% static "img/background-main-section.png" %}');background-size: cover;background-position:center top; padding-top: 10%; padding-bottom: 10%;">
        <div class="z-depth-1 white lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
            <p>
                Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
            </p>
           
        </div>
      </div>
    </center>
  </main>

{% endblock %}