{% extends 'base.html' %}
{% load static %}

{% block content %}

 <main>
    <center>
      <div class="banner"  style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('{% static "img/background-main-section.png" %}');background-size: cover;background-position:center top; padding-top: 10%; padding-bottom: 10%;">
        <div class="z-depth-1 white lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
            <span class="card-title" style="color:#77d9ea; font-size:16px; margin-bottom: 5%; font-weight: 400;">Reset your password</span>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class='row' style="margin-top: 15%; margin-bottom: 15%;">
                    <button type='submit' class='col s12 btn btn-large waves-effect green'>Send</button>
                </div>
            </form>
        </div>
      </div>
    </center>
  </main>

{% endblock %}