{% extends 'base.html' %}
{% load static %}

{% block content %}

 <main>
    <center>
      <div class="banner"  style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('{% static "img/background-main-section.png" %}');background-size: cover;background-position:center top; padding-top: 10%; padding-bottom: 10%;">
        <div class="z-depth-1 white lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
            <span class="card-title"  style="color:#77d9ea; font-size:16px; margin-bottom: 5%; font-weight: 400;">Add your email to our waiting list</span>
            <p style="max-width: 300px; text-align: left; margin-bottom: 10%;">In order to not compromise our plataform's integrity, we need to put you on a short waiting list and we'll reach out to you as soon as we can get you in!</p>
            <form method="post">
                {% csrf_token %}
                <span class="red-text">{{ form.non_field_errors }}</span>
                <div class="input-field ">
                  <label for="{{ form.email.id_for_label }}">E-mail</label>
                  {{ form.email }}
                    <span class="red-text">{{ form.email.errors }}</span>
                </div>
                <div class='row'>
                    <button type='submit' class='col s12 btn btn-large waves-effect green'>Send</button>
                </div>
                <div style="margin-top: 10%; margin-bottom: 10%;">
                    <p style="text-align:center;">Already a member?</p>
                    <a href="{% url 'login' %}" style="color: #6ECC83;">Sign in</a>
                </div>
            </form>
        </div>
      </div>
    </center>
  </main>
{% endblock %}