{% load static %}
<footer class="white center-align">
	<!-- Icons section -->
    <div class="row center-align">
        <div class="col s12 m4  blue darken-4">
        <ul>
        	<li><a href=""><i class="fa fa-facebook-square fa-2x"></i></a></li>
        	<li><a href=""><i class="fa fa-instagram fa-2x"></i></a></li>
        	<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
        	<li><a href=""><i class="fa fa-envelope-o fa-2x"></i></a></li>
        	<li><a href=""><i class="fa fa-google-plus fa-2x"></i></a></li>
        </ul>	
         
        </div>
        <div class="col s12 m8">
			<div id="mapa" style=" width: 100%; height: 240px; border: 1px solid #ccc;"></div>
        </div>
    </div>
</footer>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjK5WU8daOGnAjlwjy6wKdDzxS2hHeLEs" async defer></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mapa.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>



<script type="text/javascript">


    $(document).ready(function(){
      $('.parallax').parallax();
      $('select').material_select(); //Makes the select buttons work
      $(".button-collapse").sideNav(); // Makes the side nav work
    });

        $(document).ready(function(){
              $('.slider').slider({full_width: true});
        });
</script>
</body>
</html>