{% load static %}
<footer class="container white center-align" style=" max-width:100%;">
	<!-- Icons section -->
    <div class="center-align" style="padding:0;">
        <div class="col s12 blue darken-4" style="padding: 5%;">
        	<a href="https://www.facebook.com/brigidmixs" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        	<a href="https://www.instagram.com/brigidmixs/" target="_blank" ><i class="fa fa-instagram fa-2x" ></i></a>
        	<a href="https://twitter.com/brigidmixs" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="https://www.linkedin.com/company/brigid-mixs/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
        	<a href="mailto:info@brigidmixs.org"  target="_blank"><i class="fa fa-envelope-o fa-2x"></i></a>
        	<a href="https://plus.google.com/115834477911163427477" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>



<script type="text/javascript">


    $(document).ready(function(){
      $('.parallax').parallax();
      $('select').material_select(); //Makes the select buttons work
      $('select[required]').css({
          display: 'inline',
          position: 'absolute',
          float: 'left',
          padding: 0,
          margin: 0,
          border: '1px solid rgba(255,255,255,0)',
          height: 0,
          width: 0,
          top: '2em',
          left: '3em'
      });
      $(".button-collapse").sideNav(); // Makes the side nav work
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 100, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false, // Close upon selecting a date,
          format: 'yyyy-mm-dd'
        });

      $('.timepicker').pickatime({
        default: 'now', // Set default time: 'now', '1:30AM', '16:30'
        fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
        twelvehour: false, // Use AM/PM or 24-hour format
        donetext: 'OK', // text for done-button
        cleartext: 'Clear', // text for clear-button
        canceltext: 'Cancel', // Text for cancel-button
        autoclose: false, // automatic close timepicker
        ampmclickable: true, // make AM PM clickable
        aftershow: function(){} //Function for after opening timepicker
      });

      $('.slider').slider({full_width: true});

       $('.collapsible').collapsible();
    });

</script>
</body>
</html>