{% load static %}

<footer style="background-color: #D54445; text-decoration: none; color: #fff; padding:20px;max-width:100%; font-size:12px;">
  <div class="container">
    <div class="row">

      <div class="col l3">
        <div class="row">
          <div class="col m6">
            <ul>
              <li style="text-align: right;">
                CONTACT US
              </li>
            </ul>
          </div>
          <div class="col m6">
            <ul>
              <li>
                (34) 695 74 8 82 23
              </li>
              <li>
                info@projectmixs.org
              </li>
            </ul>
          </div>
        </div>
      </div>  

      <div class="col l3">
        <div class="row">
          <div class="col m6">
            <ul>
              <li style="text-align: right;">
                SERVICES
              </li>
            </ul>        
          </div>
          <div class="col m6">
            <ul>
              <li>
                Contact Us
              </li>
              <li>
                FAQ
              </li>
            </ul>
          </div>
        </div>
      </div>  


      <div class="col l3">

        <div class="row">
          <div class="col m6">
            <ul>
              <li style="text-align: ledt;">
                INFORMATION
              </li>
            </ul>
          </div>
          <div class="col m6">          
            <ul>
              <li>
                About MIXs
              </li>
              <li>
                Work With Us
              </li>
              <li>
                Privacy Policy
              </li>
              <li>
                Terms & Conditions
              </li>
            </ul>
          </div>
        </div>


      </div>  


      <div class="col m3" style="text-align: right;">
        <ul>
          <li>
            <ul>
              <li>
                <a href="https://www.instagram.com/brigidmixs/" target="_blank" ><i class="fa fa-instagram fa-2x" ></i></a>
                <a href="https://twitter.com/brigidmixs" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://www.facebook.com/brigidmixs" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
              </li>
              <li style="margin-top:10%;">
                ® Discover MIXs 2018
              </li>
            </ul>
          </li>
        </ul>
      </div>  


    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjK5WU8daOGnAjlwjy6wKdDzxS2hHeLEs&libraries=places&callback=init_google_maps" async defer></script>
<script src="{% static 'js/maps-helper.js' %}"></script>
<script type="text/javascript">


    $(document).ready(function(){
      $('.parallax').parallax();
      $('select').material_select(); //Makes the select buttons work
      $('select[required]').css({
          display: 'inline',
          position: 'absolute',
          float: 'left',
          padding: 0,
          margin: 0,
          border: '1px solid rgba(255,255,255,0)',
          height: 0,
          width: 0,
          top: '2em',
          left: '3em'
      });
      $(".button-collapse").sideNav(); // Makes the side nav work
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 100, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false, // Close upon selecting a date,
          format: 'yyyy-mm-dd'
        });

      $('.timepicker').pickatime({
        default: 'now', // Set default time: 'now', '1:30AM', '16:30'
        fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
        twelvehour: false, // Use AM/PM or 24-hour format
        donetext: 'OK', // text for done-button
        cleartext: 'Clear', // text for clear-button
        canceltext: 'Cancel', // Text for cancel-button
        autoclose: false, // automatic close timepicker
        ampmclickable: true, // make AM PM clickable
        aftershow: function(){} //Function for after opening timepicker
      });

      $('.slider').slider({full_width: true});

       $('.collapsible').collapsible();
    });

</script>
</body>
</html>