{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mixs App</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="grey lighten-5">
    {% include "layout/menu.html" %}

<div class="container">
{% for message in messages %}
    <p style="color: white; font-weight: 600; padding:5px" class="{% if message.tags == 'success' %}green darken-4{% elif message.tags == 'error' %}red darken-4{% endif %}">
        {{ message }}
    </p>
{% endfor %}
</div>