{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mixs App</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://use.fontawesome.com/db56ec0679.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="grey lighten-5">
    {% include "layout/menu.html" %}

<div class="container">
{% for message in messages %}
    <p style="color: white; font-weight: 600; padding:5px" class="{% if message.tags == 'success' %}green darken-4{% elif 'error' in message.tags %}red darken-4{% endif %}">
        {{ message }}
    </p>
{% endfor %}
</div>